head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")  
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
  title Site title
  link(rel="apple-touch-icon" href="apple-touch-icon.png")    
  link(rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicon.png")
  // stylesheets
  link(href="css/styles.css" rel="stylesheet")
  // scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
  script(src="js/scripts.js")

- var links = { 'AMS Advantage': 'ams-advantage.html', 'Projects': 'projects.html', 'News': 'news.html', 'About Us': 'about-us.html', 'Contact': 'contact.html' }
