.menu.theme--dark
  .menu__logo
    a(href="/")
      img(src="./assets/img/logo.svg", alt="danbernardi.com")
      span danbernardi

  ul.menu__ul.list--block
    li 
      a(href="#") Home
    li
      a(href="#") About
    li
      a(href="#") Work