.menu {
  width: 32rem;
  background: $darkgrey;
  height: 100vh;
  color: $white;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;

  a {
    color: $white;
  }
}

.menu__top {
  @extend .cf;
  position: relative;
  background: $darkestgrey;
  padding: 2rem 3rem 1.5rem;
  border-bottom: 0.1rem solid rgba($lightgrey, 0.1);
  cursor: pointer;
  display: block;
}

.menu__logo {
  .menu__title {
    padding-left: 4rem;
  }

  img {
    position: absolute;
    width: 2.5rem;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.menu__title {
  padding-top: 0.6rem;
}
