.nav__sheet {
  position: absolute;
  width: 100%;
  background: $darkgrey;
  height: 70vh;
  overflow-y: auto;
}

.nav__items li {
  border-bottom: 0.1rem solid rgba($lightgrey, 0.1);
  position: relative;
}

.sheet__trigger:before {
  @extend .fa;
  @extend .fa-angle-right;
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
}

.nav__item {
  color: rgba($white, 0.7);
  padding: 1.5rem 3rem;
  display: block;
  cursor: pointer;

  &:hover {
    color: $white;
    background: $darkestgrey;
  }

  &.is-active {
    color: $pink;
  }
}
