.menu {
  width: 32rem;
  background: $darkgrey;
  height: 100vh;
  color: $white;
  position: fixed;
  left: 0;
  top: 0;
}

.menu__logo {
  @extend .cf;
  background: $darkestgrey;
  padding: 2rem 3rem;
  border-bottom: 0.1rem solid rgba($lightgrey, 0.1);

  img {
    width: 3rem;
    float: left;
    margin-right: 2rem;
  }
}

.menu__title {
  padding-top: 0.6rem;
}
