doctype html
html(lang="en")
  - var page = 'index'

  include ./templates/head.jade

  body(class=page)
    .page-wrap
      include ./templates/menu.jade
      
      .content-wrap
        include ./templates/header.jade

        include ./templates/footer.jade
