// colors
$black: #000000;
$white: #FFFFFF;
$lightgrey: #F7F7F7;
$lightblue: #98A4AC;
$body: #444;
$darkgrey: #35383D;
$darkestgrey: #313337;
$blue: saturate(#4A9E9E, 20);
$green: saturate(#9CBF54, 20);
$pink: #ED7070;
